body
    background-color #E1E8F0

#banner
    background-image url('../img/colombia.jpg')
    height 200px
    color #fff
    background-repeat no-repeat
    background-size cover
    border-radius 20px

.tarjeta
    box-shadow: 2px -12px 94px -9px rgba(138,138,138,1);
    position relative
    border-radius 20px
    margin-top 40px
    margin-bottom 40px
    background-color:#fff
    padding 20px

.tiempo
    position absolute
    color #fff
    font-size 10px
    text-align center
    top 90px
    left 0
    z-index 9999
    background-color #7D68E9
    border-top-right-radius 20px
    border-bottom-right-radius 20px
    box-shadow  20px 42px 76px 5px rgba(54,53,54,1)

.icon
    background-color #31338A
    
    border-bottom-right-radius 20px
    border-bottom-left-radius 20px
    border-top-right-radius 20px

.temp
    background-color #7D68E9
    border-radius 20px


// -----------menu-------
.contenido
    margin 20px
.title
    display flex

.title h5
    margin-right 10px


.item-dia
    display flex
    margin-bottom 10px
    border-radius 20px
    box-shadow -1px -1px 63px -2px rgba(168,165,168,1)

.temp-item
    text-align center
    display flex
    align-items center
    font-size 5px
    background-color #7D68E9
    border-radius 20px
    color #fff
    justify-content center

.temp-item h6
    font-size 12px

.img-place
    border-radius 20px
    background-image url('../img/place.jpg')
    height 200px
    color #fff
    padding 10px
    box-shadow 13px 52px 123px -7px rgba(138,138,138,1)
    background-repeat no-repeat
    background-size cover
.ciudades1
    height 50px
    padding 10px
    background-image url('../img/ciudades1.jpg')
    color #fff
    border-radius 20px
    margin-bottom 30px
.ciudades2
    color #fff
    position relative
    padding 10px
    background-image url('../img/ciudades2.jpg')
    height 100px
    border-radius 20px

.btnmas
    font-size 20px
    position absolute
    padding 10px
    right 0
    top 0
    height 100px
    background-color #7D68E9
    border-bottom-right-radius 20px
    border-top-right-radius 20px
    display flex
    align-items center




    // ---------------aliado

.tarjeta-aliado
    box-shadow -1px -1px 63px -2px rgba(168,165,168,1)
    border-radius 20px


.icon-aliado
    display flex
    align-items center
    background-color #7D68E9
    border-radius 20px
    margin-left 10px

.temp-aliado
    display flex
    align-items center
    border-right 1px solid gray


.tarjeta-location
    // display flex
    align-items center
    margin-top 10px
    height 150px
    padding-top 30px
    border-radius 20px
    border 2px  dotted gray
    box-shadow -1px -1px 63px -2px rgba(168,165,168,1)

.btn-add
    border-radius 20px
    text-align center

.trazo
    background-image url('../img/trazo.jpg')
    height 80px

