body {
  background-color: #e1e8f0;
}
#banner {
  background-image: url("../img/colombia.jpg");
  height: 200px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.tarjeta {
  box-shadow: 2px -12px 94px -9px #8a8a8a;
  position: relative;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
}
.tiempo {
  position: absolute;
  color: #fff;
  font-size: 10px;
  text-align: center;
  top: 90px;
  left: 0;
  z-index: 9999;
  background-color: #7d68e9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 20px 42px 76px 5px #363536;
}
.icon {
  background-color: #31338a;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.temp {
  background-color: #7d68e9;
  border-radius: 20px;
}
.contenido {
  margin: 20px;
}
.title {
  display: flex;
}
.title h5 {
  margin-right: 10px;
}
.item-dia {
  display: flex;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: -1px -1px 63px -2px #a8a5a8;
}
.temp-item {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 5px;
  background-color: #7d68e9;
  border-radius: 20px;
  color: #fff;
  justify-content: center;
}
.temp-item h6 {
  font-size: 12px;
}
.img-place {
  border-radius: 20px;
  background-image: url("../img/place.jpg");
  height: 200px;
  color: #fff;
  padding: 10px;
  box-shadow: 13px 52px 123px -7px #8a8a8a;
  background-repeat: no-repeat;
  background-size: cover;
}
.ciudades1 {
  height: 50px;
  padding: 10px;
  background-image: url("../img/ciudades1.jpg");
  color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
}
.ciudades2 {
  color: #fff;
  position: relative;
  padding: 10px;
  background-image: url("../img/ciudades2.jpg");
  height: 100px;
  border-radius: 20px;
}
.btnmas {
  font-size: 20px;
  position: absolute;
  padding: 10px;
  right: 0;
  top: 0;
  height: 100px;
  background-color: #7d68e9;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
}
.tarjeta-aliado {
  box-shadow: -1px -1px 63px -2px #a8a5a8;
  border-radius: 20px;
  background-color: #fff;
}
.icon-aliado {
  display: flex;
  align-items: center;
  background-color: #7d68e9;
  border-radius: 20px;
  margin-left: 10px;
}
.temp-aliado {
  display: flex;
  align-items: center;
  border-right: 1px solid #808080;
}
.tarjeta-location {
  align-items: center;
  margin-top: 10px;
  height: 150px;
  padding-top: 30px;
  border-radius: 20px;
  border: 2px dotted #808080;
  box-shadow: -1px -1px 63px -2px #a8a5a8;
}
.btn-add {
  border-radius: 20px;
  text-align: center;
}
.trazo {
  background-image: url("../img/trazo.jpg");
  height: 80px;
}
.loc {
  right: 5px;
  bottom: 20px;
}
